/Associate.class
/BinarySearchTree$Node.class
/BinarySearchTree.class
/BloodSample.class
/Bullet.class
/Crime.class
/CrimeList.class
/Criminal.class
/DataBaseManager.class
/DataBaseUI.class
/Evidence.class
/FamilyMember.class
/Gun.class
/HairSample.class
/JSONReader.class
/JSONWriter.class
/JSONconstants.class
/LawEnforcementUser.class
/Person.class
/PersonList.class
/PersonOfInterest.class
/Suspect.class
/TypeOfCrime.class
/UserSearchTree.class
/Victim.class
/Witness.class
